<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-DsiWorkorders-20141227110728.mdf;Initial Catalog=aspnet-DsiWorkorders-20141227110728;Integrated Security=True"
     providerName="System.Data.SqlClient" />
    <add name="AppConnectionDev" providerName="System.Data.SqlClient" connectionString="Data Source=tcp:s6hm8ngfqb.database.windows.net,1433;Initial Catalog=DsiDev;Integrated Security=False;User ID=Dev@s6hm8ngfqb;Password=h%OfS5!S1e4i;Connect Timeout=30;Encrypt=True" />
    <add name="AppConnectionCsiDEV" providerName="System.Data.SqlClient" connectionString="Data Source=tcp:s6hm8ngfqb.database.windows.net,1433;Initial Catalog=CsiDev;Integrated Security=False;User ID=Dev@s6hm8ngfqb;Password=h%OfS5!S1e4i;Connect Timeout=30;Encrypt=True" />
    <add name="AppConnectionDsiDEV" providerName="System.Data.SqlClient" connectionString="Data Source=tcp:s6hm8ngfqb.database.windows.net,1433;Initial Catalog=DsiDev;Integrated Security=False;User ID=Dev@s6hm8ngfqb;Password=h%OfS5!S1e4i;Connect Timeout=30;Encrypt=True" />

    <add name="AppConnectionCsiPROD" providerName="System.Data.SqlClient" connectionString="Data Source=tcp:e04vmu8qq9.database.windows.net,1433;Initial Catalog=CsiSql;Integrated Security=False;User ID=Maintenance@e04vmu8qq9;Password=bcnt2TT1vAaS;Connect Timeout=30;Encrypt=True" />
    <add name="AppConnectionDsiPROD" providerName="System.Data.SqlClient" connectionString="Data Source=tcp:e04vmu8qq9.database.windows.net,1433;Initial Catalog=DsiSql;Integrated Security=False;User ID=Dsi@e04vmu8qq9;Password=8f2#3fNa040;Connect Timeout=30;Encrypt=True" />

  </connectionStrings>
  <appSettings>
    <add key="ConnectionStringName" value="AppConnectionDsiPROD" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="HelpVideoLinkUsers" value="https://mediasvc115jwlqxgvrwd.blob.core.windows.net/asset-3fc61d19-e66b-4ecf-9917-ad854c239937/Workorders_H264_4500kbps_AAC_und_ch2_128kbps.mp4?sv=2012-02-12&amp;st=2013-12-05T21%3A29%3A24Z&amp;se=2015-12-05T21%3A29%3A24Z&amp;sr=c&amp;si=fab22545-89d0-4e4a-bef5-ec7338e33043&amp;sig=T17MhuAkzUNs9Ds89N9gQ85bkjCUBXNl3qSk0rneKyE%3D" />
    <add key="HelpVideoLinkEditors" value="https://mediasvc115jwlqxgvrwd.blob.core.windows.net/asset-957b5860-3286-4c7b-8c90-7fb8fcc44bda/WorkordersEditors_H264_4500kbps_AAC_und_ch2_128kbps.mp4?sv=2012-02-12&amp;st=2014-01-14T18%3A11%3A37Z&amp;se=2016-01-14T18%3A11%3A37Z&amp;sr=c&amp;si=0546bc44-1bae-4ff6-923c-ba041e754a61&amp;sig=dRB8%2B8s6lLADVY%2BD7RFkDBf1v7JHX0%2BQKAJgsIiTTJc%3D" />
    <add key="HelpVideoLinkMobile" value="https://mediasvc115jwlqxgvrwd.blob.core.windows.net/asset-957b5860-3286-4c7b-8c90-7fb8fcc44bda/WorkordersEditors_H264_4500kbps_AAC_und_ch2_128kbps.mp4?sv=2012-02-12&amp;st=2014-01-14T18%3A11%3A37Z&amp;se=2016-01-14T18%3A11%3A37Z&amp;sr=c&amp;si=0546bc44-1bae-4ff6-923c-ba041e754a61&amp;sig=dRB8%2B8s6lLADVY%2BD7RFkDBf1v7JHX0%2BQKAJgsIiTTJc%3D" />
    <add key="PriorityHigh" value="7" />
    <add key="PriorityNormal" value="30" />
    <add key="PriorityLow" value="60" />

    <!--<add key="Editors" value="Collaborative\DSI_WorkorderEditors" />
    <add key="Admins" value="Collaborative\DSI_WorkorderAdmins" />-->
    <!--<add key="CII" value="AppConnectionCiiPROD" />-->

    <!--<add key="Editors" value="DSI_WorkorderEditors" />
    <add key="Admins" value="DSI_WorkorderAdmins" />
    <add key="Users" value="DSI_Users" />-->

    <add key="CsiViewers" value="CSI_Users" />
    <add key="DsiViewers" value="DSI_Users" />

    <add key="CsiEditors" value="CSI_WorkorderEditors" />
    <add key="DsiEditors" value="DSI_WorkorderEditors" />

    <add key="CsiAdmins" value="CSI_WorkorderAdmins" />
    <add key="DsiAdmins" value="DSI_WorkorderAdmins" />

    <add key="CSI" value="AppConnectionCsiPROD" />
    <add key="DSI" value="AppConnectionDsiPROD" />
    
    <add key="LogoLink" value="http://ssrsimages/Cii.png" />
    <add key="CompanyName" value="Developmental Services of Iowa" />
    <add key="CompanyAbbr" value="DSI" />
    <add key="ApplicationName" value="Workorders" />
    <add key="ApplicationDescription" value="Manage Service Location Maintenance issues, aka Workorders." />
    <add key="IsProduction" value="true" />
    <add key="DepartmentSupervisorEmailDefault" value="ckanter@ci.us.com"/>

    <add key="ida:FederationMetadataLocation" value="https://login.windows.net/cii.us.com/FederationMetadata/2007-06/FederationMetadata.xml" />
    <add key="ida:Realm" value="https://cii.us.com/DsiWorkorders.Web" />
    <add key="ida:AudienceUri" value="https://cii.us.com/DsiWorkorders.Web" />

    <add key="GraphApiClientId" value="9039f496-46bf-47d4-8941-486903deb6d4" />
    <add key="GraphApiKey" value="p+hpZsOk6zzwG5FGPLb67Qs/9tU++RwCEt8BxFKFZGM=" />
    <add key="GraphApiVersion" value="2013-11-08" />
    <add key="GraphUrl" value="https://graph.windows.net" />
    <add key="TenantIdClaimType" value="http://schemas.microsoft.com/identity/claims/tenantid" />

    <!--logger settings-->
    <add key="IsLoggerEnabled" value="True" />
    <!--<add key="TechnicalSupportEmails" value="sanjeevkaushal46@gmail.com" />-->
    <add key="TechnicalSupportEmails" value="deaton@cii.us.com" />
    
  </appSettings>
  <location path="Account">
    <system.web>
      <customErrors mode="Off" />
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.web>
    <customErrors mode="Off" />
    <authentication mode="None" />
    <authorization>
      <deny users="?" />
    </authorization>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" requestValidationMode="4.5" />
  </system.web>
  <system.identityModel>
    <identityConfiguration>
      <!--<issuerNameRegistry type="DsiWorkorders.Web.Utils.DatabaseIssuerNameRegistry, DsiWorkorders.Web" />-->
      <issuerNameRegistry type="DsiWorkorders.Web.Utils.MemoryIssuerNameRegistry, DsiWorkorders.Web" />
      <audienceUris>
        <add value="https://cii.us.com/DsiWorkorders.Web" />
      </audienceUris>
      <securityTokenHandlers>
        <add type="System.IdentityModel.Services.Tokens.MachineKeySessionSecurityTokenHandler, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <remove type="System.IdentityModel.Tokens.SessionSecurityTokenHandler, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </securityTokenHandlers>
      <certificateValidation certificateValidationMode="None" />
    </identityConfiguration>
  </system.identityModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.webServer>
    <modules>
      <add name="WSFederationAuthenticationModule" type="System.IdentityModel.Services.WSFederationAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" />
      <add name="SessionAuthenticationModule" type="System.IdentityModel.Services.SessionAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <system.identityModel.services>
    <federationConfiguration>
      <cookieHandler requireSsl="true" />
      <wsFederation passiveRedirectEnabled="true" issuer="https://login.windows.net/cii.us.com/wsfed" realm="https://cii.us.com/DsiWorkorders.Web" requireHttps="true" />
    </federationConfiguration>
  </system.identityModel.services>

  <system.net>
    <mailSettings>
      <smtp from="Workorders DSI/CSI Support &lt;deaton@cii.us.com&gt;">
        <network host="smtp.office365.com" enableSsl="true" port="587" userName="deaton@cii.us.com" password="Jack0209" />
      </smtp>
    </mailSettings>
  </system.net>

</configuration>