<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--<connectionStrings>
    <add name="AppConnectionPROD" providerName="System.Data.SqlClient" connectionString="Data Source=tcp:e04vmu8qq9.database.windows.net,1433;Initial Catalog=DsiSql;Integrated Security=False;User ID=Dsi@e04vmu8qq9;Password=8f2#3fNa040;Connect Timeout=30;Encrypt=True"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="AppConnectionCsiPROD" providerName="System.Data.SqlClient" connectionString="Data Source=tcp:e04vmu8qq9.database.windows.net,1433;Initial Catalog=CsiSql;Integrated Security=False;User ID=Maintenance@e04vmu8qq9;Password=bcnt2TT1vAaS;Connect Timeout=30;Encrypt=True"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="AppConnectionDsiPROD" providerName="System.Data.SqlClient" connectionString="Data Source=tcp:e04vmu8qq9.database.windows.net,1433;Initial Catalog=DsiSql;Integrated Security=False;User ID=Dsi@e04vmu8qq9;Password=8f2#3fNa040;Connect Timeout=30;Encrypt=True"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>-->
  <appSettings>
    <add key="IsProduction" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
  </appSettings>
  <!--<system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <roleManager enabled="true" defaultProvider="AspNetWindowsTokenRoleProvider" xdt:Transform="Replace" />
    <authorization xdt:Transform="Replace">
      <allow roles="Collaborative\DSI_Users"/>
      <deny users="?" />
    </authorization>
  </system.web>-->
</configuration>
