@model DsiWorkorders.Web.ViewModels.WorkOrdersGridViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="well">
            <div class="row" style="text-align:center;">
                <h1 class="text-error">Access Denied</h1>
            </div>

            <div class="row" style="text-align:center;">
                <h3>
                    @if (TempData["ErrorMessage"] != null)
                    {
                        @Html.Raw(TempData["ErrorMessage"])
                    }
                    else
                    {
                        <text>Sorry to inform you that you don't have access to requested page. We recommend you contact the IT Department if you think this is an error.  </text>

                    }

                </h3>
            </div>

        </div>
    </div>
</div>
